<div class="row">
    <div class="col s6 offset-s3">
        {{#if error}}
            <p class="alert">{{error}}</p>
        {{/if}}
        <h1>Create new password</h1>
        <form action="/authSpec/password" method="post">
            <div class="input-field col s12">
                <input name="password" id="password" type="password" class="validate" required>
                <label for="password">New password</label>
                <span class="helper-text" data-error="Enter password" data-success="right"></span>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="token" value="{{token}}">

            <button type="submit" class="btn btn-primary">Create password</button>
        </form>
    </div>
</div>