<div class="row">
    <div class="col s6 offset-s3">
        {{#if error}}
            <p class="alert">{{error}}</p>
        {{/if}}
        <h1>Recovery password</h1>
        <form action="/authSpec/reset" method="post">
            <div class="input-field col s12">
                <input name="email" id="remail" type="email" class="validate" required>
                <label for="remail">Email</label>
                <span class="helper-text" data-error="Enter email" data-success="right"></span>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">

            <button type="submit" class="btn btn-primary">Recovery</button>
        </form>
    </div>
</div>